:root{
  --color-white: 255,255,255;
  --color-light: 187,187,187;
  --color-orange:255,152,0;
  --color-dark: 51,51,51;
  --color-black: 0,0,0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

html,body{
  margin:0;
  padding:0;
  font-family: 'Open Sans',sans-serif;
}
body{
  position: relative;
}
html,body,div.content,header,main,footer{
  width: 100%;
  box-sizing: border-box;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:10px;
}


/* Grid*/
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;

@import "utils/_mixins.scss";
@import "utils/_typography.scss";
@import "components/_header.scss";
@import "components/_main.scss";
@import "components/_footer.scss";